.input_checkbox {
  width: 40px;
  height: 40px;
  outline: 2px solid var(--color-black);
}
.input_checkbox:checked ~ .btn-delete {
  background: var(--color-red);
  pointer-events: auto;
}
.input_checkbox:checked ~ .description {
  text-decoration: line-through;
}
