.input_element {
  width: 400px;
  padding: 20px 20px;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  border-radius: 10px;
  text-align: center;
}
.input_list {
  width: 400px;
  padding: 20px 20px;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  border-radius: 10px;
  text-align: center;
}
.one {
  width: 100%;
}
