.todo {
  background-color: var(--color-light-grey);
  padding: 20px 40px;
  box-shadow: 5px 5px 5px 3px rgba(68, 103, 129, 0.6);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.todo_elements {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}
.todo_list {
  padding: 10px;
  display: flex;
  row-gap: 10px;
  flex-direction: column;
}
.todo-item {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--color-black);
  border-radius: 10px;
}
.description {
  padding: 20px;
  font-size: 24px;
}

.checked {
  background: red;
  opacity: 0.7;
}

.filtered {
  display: none;
}

/* .todo-item.animation {
  animation: opacity 1s ease-in-out;
}

@keyframes opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
} */
